YII_DEBUG=true
YII_ENV=dev

DB_USERNAME=project
DB_PASSWORD=123456
DB_DSN=mysql:host=percona;dbname=project

FRONTEND_COOKIE_VALIDATION_KEY="l7pTFCoihyn77bK1sKpWp3YK7123223i"
BACKEND_COOKIE_VALIDATION_KEY="QtcAU1vGUCnaTG_OJoTGkdku1231254G"